$left: left;
$right: right;

$ltr: ltr;
$rtl: rtl;

@import "../utilities/variable";
@import "../utilities/normalize";
@import "..//utilities/mediaQuery";
@import "../utilities/mixins";

/*components*/

@import "../components/header";
@import "../components/footer"; 
@import "../components/donaiteCard"; 
@import "../components/breadCrump";
@import "../components/login";

/*pages*/

@import "../pages/home";
@import "../pages/contact_us";
