.bread_crumb {
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $primary-600 url('../../images/breadcrumb_bg.png');
    background-size: cover;
 
    @include max992 {
        height: 296px;
    }
 

    .title {
        font-family: $sora;
        font-weight: 400;
        font-size: 48px;
        // line-height: 60px;
        text-align: center;
        color: $white;
        text-align: center;
        color: $white;
        @include max992 {
            font-size: 40px;
        }
        @include max576 {
            font-size: 30px;
        }
    }
}