.donaite-card {
    background-color: #E3F5F5;
    margin-bottom: 24px;
    border-radius: 6px;
    display: block;

    .donaite-image {
        height: 240px;
        border-top-#{$left}-radius: 6px;
        border-top-#{$right}-radius: 6px;
        display: block;
        overflow: hidden;

        img {
            border-top-#{$left}-radius: 6px;
            border-top-#{$right}-radius: 6px;
            transition: all 0.5s ease-in-out;
            width: 100%;
            height: 100%;
        }
    }

    .text {
        padding: 16px;

        .details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 15px;

            .num {
                font-family: $sora;
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                color: $primary-600;
            }

            .m_actions {
                display: flex;
                flex-wrap: wrap;

                li {
                    &:not(:last-of-type) {
                        margin-#{$right}: 8px;
                    }

                    .shared {
                        min-height: 33px;
                        padding: 8px 14px;

                        &::after {
                            top: 7px;
                        }

                        &.blackBtn {

                            &::after,
                            &::before {
                                background-color: $secondary-600;
                            }

                            &:hover {
                                background-color: $secondary-600;

                            }
                        }
                    }
                }
            }
        }

        .name {
            font-family: $inter;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #465151;
            display: inline-block;
        }
        .ch_name {
            display: block;
        }

    }

    &.done {
        .text {
            .details {
                justify-content: center;
                margin-bottom: 4px;
                .num {
                    font-size: 38px;
                    line-height: 48px;
                }
            }
            .name {
                text-align: center;
                font-size: 18px;
                display: inherit;
            }
        }
    }
    &.orphan_card {
        display: flex;
        align-items: center;
        .donaite-image {
            height: 118px;
            min-width: 100px;
        }
        .text {
            width: calc(100% - 100px);
            .name {
                display: block;
                margin-bottom: 6px;
            }
        }
    }
    &:hover {
        .donaite-image {
            img {
                transform: scale(1.05);
            }
        }
    }
}