footer {
    background-color: #E3F5F5;
    position: relative;
    padding-top: 1px;

    .footer_up {
        background: rgba(255, 255, 255, 0.95);
        border-radius: 10px;
        padding: 46px 64px;
        margin-top: -229px;
        margin-bottom: 65px;
        @include max992 {
            padding: 30px;

        }
        .text {
            width: 74%;

            @include max992 {
                width: 100%;
            }
        }

        .sec_title {
            margin-bottom: 56px;
            @include max992 {
                margin-bottom: 20px;
            }
            .title {
                background: linear-gradient(102.56deg, #263A4B -11.25%, #6E7C87 118.81%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .desc {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: $primary-400;
            margin-bottom: 16px;
        }
        .shared {
            @include max992 {
                width: 100%;
            }
        } 

        .map {
            @include max992 {
                margin-top: 20px;
            }
            iframe {
                width: 100%;
                margin-bottom: 13px;
            }

            .shared {
                width: 100%;
            }
        }
    }

    .footer_logo {
        @include max768 {
            text-align: center;
        }

    }

    .footer_links {
        @include max992 {
            margin-bottom: 30px;
        }

        @include max576 {
            text-align: center;
        }

        h4 {
            font-family: $inter;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #121212;
            margin-bottom: 16px;
            text-transform: uppercase;

            @include max768 {
                margin-top: 20px;
            }
        }

        .desc {
            margin-bottom: 40px;

            @include max992 {
                margin-bottom: 20px;
            }
        }



        ul {
            li {
                a {
                    font-family: $inter;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 15px;
                    color: #121212;
                    margin-bottom: 8px;
                    display: flex;
                    align-items: center;
                    transition: all 0.3s ease-in-out;

                    @include max576 {
                        justify-content: center;
                    }

                    &:hover {
                        color: $secondary-600;
                    }
                }
            }
        }
    }

    .newsLetter {
        align-items: flex-end;
        padding-bottom: 40px;

        .title {
            margin-bottom: 16px;
            font-family: $sora;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #121212;
        }

        .proForm {
            @include max992 {
                text-align: center;
                .shared {
                    display: inline-flex;
                    margin-bottom: 15px;
                }
            }
            .form-group {
                .form-control {
                    background: transparent;
                    border: 0;
                    border-bottom: 1px solid $primary-600;
                    box-shadow: none;
                    height: auto;
                    color: $primary-600;
                    border-radius: 0;
                    padding: 5px 0;

                    &::placeholder {
                        color: $primary-600;
                    }

                    &:focus,
                    &:hover,
                    &:active {
                        border-color: $secondary-600;
                    }
                }

                .icon {
                    #{$left}: auto;
                    #{$right}: 0;
                }


            }
        }

        .desc {
            color: $primary-600;
            margin-bottom: 24px;
        }

        .shared {
            min-width: 172px;
            background-color: $primary-400;

        }

        .privacy {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @include max992 {
                justify-content: center;
            }
            @include max576 {
                flex-direction: column;
            }

            .privacy_ul {
                display: flex;

                li {
                    @include max576 {
                        margin-bottom: 5px;
                    }

                    &:not(:last-of-type) {
                        margin-#{$right}: 24px;

                        @include max992 {
                            margin-#{$right}: 15px;

                        }
                    }

                    a {
                        font-family:  $inter;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                        color: $primary-600;
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;
                        &:hover {
                            color: $secondary-600;
                        }
                    }
                }
            }

            .social {
                ul {
                    padding-#{$left}: 24px;
                    margin-#{$left}: 24px;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        #{$left}: 0;
                        top: 0;
                        height: 100%;
                        width: 1px;
                        background-color: $primary-600;
                        border-radius: 110px;
                    }
                }

                li {
                    margin: 0;

                    &:not(:last-of-type) {

                        margin-#{$right}: 24px;

                        @include max992 {
                            margin-#{$right}: 15px;

                        }
                    }

                    a {
                        width: auto;
                        height: 37px;
                        background-color: transparent;
                        border: 0;
                        font-size: 25px;
                        color: $primary-600;

                        &:hover {
                            color: $secondary-600;
                        }
                    }
                }
            }

            .shared {
                display: inline-flex;
                background-color: transparent;
                color: $secondary-600;


                &:hover {
                    background-color: $secondary-600;
                    color: $white;
                    border-color: $secondary-600;
                }
            }
        }
    }


}