.main_header .header_navbar .navbar-light .navbar-nav .nav-link {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    display: inline-block;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu {
    transform: translateX(-50%) !important; 
    top: 100% !important;
} 

.spinner_center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .select >div >div{
    padding: 8px 12px;
    height: 41px;
    background: rgba(110, 124, 135, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.8);
} */
.select >div >div > div{
    position: relative;
    top: -6px;
} 
.select .css-13cymwt-control,
.select .css-13cymwt-control,
.select .css-t3ipsp-control  { 
    padding: 8px 0;
    height: 41px;
    background: rgba(110, 124, 135, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.8);

}
.select .css-1jqq78o-placeholder,
.select .css-1dimb5e-singleValue,
.select .css-qbdosj-Input,
.select .css-166bipr-Input,
.select .css-qbdosj-Input input {
    color: rgba(255, 255, 255, 0.8);
}

.login_page .proForm .text .form-group .form-control:disabled {
    border: 1px solid #0e0e0e;
    background-color: #a5a5a5;
}
.login_page .proForm .text .form-group .form-control:disabled::placeholder{
   color: #000;
}
.form-control.is-invalid, 
.was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}

table td {
    color: #FFF;
}