.contact_us {
    .proForm {
        width: 90%;
        @include max992 {
            width: 100%;
        }
        .shared {
            min-width: 200px;
        }
    }

    .contact_Info {
        background-color: $secondary-600;
        padding: 40px 24px;
        border-radius: 8px;
        margin-top: 30px;

        .title {
            font-family: $sora;
            font-size: 38px;
            font-weight: 400;
            line-height: 48px;
            margin-bottom: 24px;
        }

        .social {
            ul {
                justify-content: space-between;
                flex-wrap: wrap;
            }

            li {
                margin: 0;

                &:not(:last-of-type) {

                    margin-#{$right}: 24px;

                    @include max992 {
                        margin-#{$right}: 15px;

                    }
                }

                a {
                    width: auto;
                    height: 37px;
                    background-color: transparent;
                    border: 0;
                    font-size: 35px;
                    color: $primary-600;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }

        .details {
            margin-top: 56px;

            @include max992 {
                margin-top: 20px;
            }

            .info {
                margin-bottom: 14px;

                span {
                    //styleName: inter/medium/16PX;
                    font-family: $inter;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19px;
                    color: black;
                }

                .link {
                    font-family: $inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    color: $primary-600;
                }
            }
        }
    }
}