.main-slider {
    overflow: hidden;
    position: relative;
    padding-top: 160px;

    @include max992 {
        padding-top: 110px;
    }

    .swiper-slide {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        display: flex;
        align-items: flex-end;
        border-radius: 10px;
        position: relative;
        padding-bottom: 56px;

        @include max576 {
            height: 350px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $black, $alpha: 0.6);
            border-radius: 10px;

        }

        .row {
            width: 100%;
        }

        .slider-content {
            position: relative;
            z-index: 2;
            padding-#{$right}: 15px;
            padding-#{$left}: 126px;

            @include max992 {
                padding: 0 20px;
            }

            h1 {
                font-family: $sora;
                font-weight: 400;
                font-size: 38px;
                line-height: 48px;
                color: $white;
                margin-bottom: 16px;

                @include max992 {
                    font-size: 30px;
                }

                @include max768 {
                    font-size: 22px;
                    line-height: 30px;
                }
            }

            .m_actions {
                display: flex;
                margin-top: 20px;

                li {
                    &:not(:last-of-type) {
                        margin-#{$right}: 20px;
                    }

                    .shared {
                        min-height: 41px;

                        &::after {
                            top: 7px;
                        }
                    }
                }
            }


        }
    }

    .swiper-buttons {
        position: static;
        transform: none;
    }

    .swiper-button {

        &-prev,
        &-next {
            position: absolute;
        }
    }

}

.business_area {
    .business_types {
        .business_type {
            display: flex;
            align-items: center;
            width: 70%;
            margin-bottom: 12px;

            @include max1200 {
                width: 100%;
            }

            @include max768 {
                flex-direction: column;
            }

            &.odd {
                flex-direction: row-reverse;
                margin-#{$left}: auto;
                margin-#{$right}: 0;

                @include max768 {
                    flex-direction: column;
                }

                .img {
                    margin-#{$left}: 44px;
                    margin-#{$right}: 0;

                    @include max768 {
                        margin-#{$right}: 0;
                        margin-#{$left}: 0;
                    }
                }
            }

            .img {
                min-width: 210px;
                width: 210px;
                height: 210px;
                border-radius: 50%;
                margin-#{$right}: 44px;

                @include max768 {
                    margin-#{$right}: 0;
                    margin-bottom: 15px;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .text {
                @include max768 {
                    text-align: center;
                }

                .title {
                    font-family: $sora;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 30px;
                    color: $primary-400;
                    margin-bottom: 12px;
                }

                .num {
                    margin-top: 8px;
                    font-family: $sora;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 50px;
                    color: $secondary-600;
                }
            }
        }
    }
}

.boards {
    .board_BG {
        background: url('../../images/board_BG.png') no-repeat;
        background-size: cover;
        min-height: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 20px;


        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(360deg, #000000 -6.21%, rgba(12, 12, 12, 0.539772) 48.63%, rgba(194, 194, 194, 0) 144.31%);
            border-radius: 20px;

        }

        .title {
            position: relative;
            z-index: 2;
            font-family: $sora;
            font-weight: 400;
            font-size: 38px;
            line-height: 48px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: $white;
            padding: 30px;
            margin: 0 20px;
            text-align: center;

            @include max992 {
                font-size: 30px;
            }

            & span {
                position: absolute;
                background: $white;
                transition: .5s;
                box-shadow: 1px 1px 20px $white;
            }

            & span:nth-child(1) {
                top: 0;
                left: 0;
                width: 3px;
                height: 66px;
            }

            &:hover span:nth-child(1) {
                height: 100%;
            }

            & span:nth-child(2) {
                top: 0;
                left: 0;
                width: 66px;
                height: 3px;
            }

            &:hover span:nth-child(2) {
                width: 100%;
            }

            & span:nth-child(3) {
                bottom: 0;
                right: 0;
                width: 3px;
                height: 66px;
            }

            &:hover span:nth-child(3) {
                height: 100%;
            }

            & span:nth-child(4) {
                bottom: 0;
                right: 0;
                width: 66px;
                height: 3px;
            }

            &:hover span:nth-child(4) {
                width: 100%;
            }
        }
    }
}

.medi_center {
    .donaite-card {
        .text {
            padding-top: 8px;

            .details {
                margin-bottom: 10px;

                .num {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 23px;
                }
            }
        }


    }
}

.pattern {
    .love {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            // margin: 0 30px;
            margin: auto;
            width: calc(100% - 400px);
        }

        span {
            font-family: $sora;
            font-weight: 400;
            font-size: 38px;
            line-height: 48px;
            color: $secondary-600;
            min-width: 200px;

            &:last-of-type {
                text-align: #{$right};
            }

            @include max992 {
                font-size: 30px;
                min-width: 120px;
            }
        }
    }
}

.clinets {
    .swiper-container {
        &.first {
            margin-bottom: 50px;
        }
    }

    .swiper-slide {
        text-align: center;
    }
}

.video-js,
.video-react {
    width: 100%;
    height: 600px !important;
    border-radius: 6px;
    padding: 0 !important;

    @include max992 {
        height: 400px !important;
    }
}

.vjs-poster,
.video-react .video-react-poster {
    background-size: cover;
    border-radius: 6px;
}

.video-react .video-react-big-play-button {
    top: 50% !important;
    left: 50% !important;
    transform: translateX(-50%) translateY(-50%) !important;
}

.quick_donate_link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 16px;
    position: fixed;
    min-width: 51px;
    min-height: 178px;
    #{$right}: 0px;
    top: 50%;
    writing-mode: vertical-lr;
    background: #E3F5F5;
    border-top-#{$left}-radius: 8px;
    border-bottom-#{$left}-radius: 8px;
    font-family: $inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: $primary-600;
    transition: all 0.3s ease-in-out;
    transform: translateY(-50%);
    z-index: 33;

    span {
        transform: rotate(180deg);
    }

    &:hover {
        background-color: $secondary-600;
        color: $white;
    }

    @include max576 {
        font-size: 15px;
        min-width: 44px;
        min-height: 150px;
        padding: 24px 11px
    }
}

.donate_modal {
    .modal-content {
        background-color: #192938;
    }

    .modal-header {
        padding: 0;
        border: 0;
        background-color: transparent;

        .btn-close {
            position: absolute;
            background-image: none;
            color: $white;
            font-size: 25px;
            #{$right}: 11px;
            top: 11px;
            z-index: 3;
        }
    }

    .modal-body {
        padding: 56px;

        @include max992 {
            padding: 25px;
        }

        .text {
            @include max992 {
                margin-bottom: 25px;
            }

            .title {
                font-family: $sora;
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                color: $secondary-600;
            }

            .by {
                font-family: $inter;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: $white;
                margin: 16px 0;
            }

            .nav-pills {
                .nav-item {
                    &:not(:last-of-type) {
                        margin-#{$right}: 20px;
                    }

                    @include max992 {
                        margin-bottom: 5px;
                    }
                }

                .nav-link {
                    background-color: transparent;
                    border: 0;
                    font-family: $inter;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: $white;
                    padding: 0;



                }
            }

            .form-check {
                display: flex;
                align-items: center;
                padding: 0;

                .form-check-input {
                    box-shadow: none;
                    position: relative;
                    background-color: transparent;
                    min-width: 25px;
                    width: 25px;
                    height: 25px;
                    border-width: 3px;
                    border-color: $white;
                    margin: 0;
                    margin-#{$right}: 8px;
                    cursor: pointer;

                    &[type=radio] {
                        background-image: none;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 60%;
                            height: 60%;
                            border-radius: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            background-color: transparent;
                        }

                        &:checked {
                            background-color: transparent;
                            border-color: $secondary-600;

                            &::after {
                                background-color: $secondary-600;
                            }
                        }
                    }

                    &[type=checkbox] {
                        border-radius: 3px;
                    }

                }

                .form-check-label {
                    cursor: pointer;
                }

                &.save_card {
                    .form-check-label {
                        font-family: $inter;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #E3F5F5;
                        padding-#{$left}: 8px;
                    }
                }


            }

            .proForm {
                .form-group {
                    .form-label {
                        font-family: $inter;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: $white;
                        margin-bottom: 12px;
                    }

                    .form-control {
                        padding: 8px 12px;
                        height: 41px;
                        background: rgba(110, 124, 135, 0.4);
                        border: 1px solid rgba($color: $white, $alpha: 0.8);
                        border-radius: 4px;
                        font-family: $inter;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: rgba($color: $white, $alpha: 0.8);

                        &::placeholder {
                            font-family: $inter;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            color: rgba($color: $white, $alpha: 0.8);
                        }
                    }
                }

                .shared {
                    min-height: 43px;
                    width: 100%;
                }

                .notes {
                    margin-top: 22px;
                    font-family: $inter;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: #E3F5F5;
                }
            }
        }
    }
}

.single {
    .desc {
        color: $white;
        font-size: 20px;

        * {
            color: $white !important;
            font-size: 20px;
        }
    }
}