

.breadCrumb__content .breadcrumb-item::after,
.pagination a i {
  transform: scaleX(-1); 
}
.services::after,
.common::after,
.articles_page .aside-sec .types ul li .type .arrow {
  transform: scaleX(-1); 
}
 
.proForm .form-group.range .irs--flat .irs-from,
.proForm .form-group.range .irs--flat .irs-to,
.proForm .form-group.range .irs--flat .irs-single {
  direction: ltr;
}




.shared .iconsm {
  transform: rotate(180deg);
}

.sec_title .title ,
.company_features .company_feature .title,
.process .process_box .title {
  letter-spacing: normal;
}

/**/
footer .newsLetter .proForm .form-group .icon {
  transform: scale(-1);
  top: 0;
}
.shared::after{
  transform: rotate(135deg);
}