/*===================================== 
	-- initialization --
=====================================*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    @extend .clear-styles;
}*/
@import "../utilities/mediaQuery";

body::-webkit-scrollbar,
.upload__img-wrap::-webkit-scrollbar,
.modal::-webkit-scrollbar,
.chat .chat-tabs .nav-pills::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar,
.chat .chat-tabs .tab-content .chat-content::-webkit-scrollbar,
.main_header .header_navbar .navbar-light .navbar-nav .search_box .search_result::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

body::-webkit-scrollbar-track,
.upload__img-wrap::-webkit-scrollbar-track,
.modal::-webkit-scrollbar-track,
.chat .chat-tabs .nav-pills::-webkit-scrollbar-track,
.table-responsive::-webkit-scrollbar-track,
.main_header .header_navbar .navbar-light .navbar-nav .search_box .search_result::-webkit-scrollbar-track,
.chat .chat-tabs .tab-content .chat-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

body::-webkit-scrollbar-thumb,
.upload__img-wrap::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb,
.chat .chat-tabs .nav-pills::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-track,
.main_header .header_navbar .navbar-light .navbar-nav .search_box .search_result::-webkit-scrollbar-thumb,
.chat .chat-tabs .tab-content .chat-content::-webkit-scrollbar-thumb {
    background: $primary-600;
    // outline: 1px solid $Primary-2;
    border-radius: 20px;
}

// ::selection {
//     background: $white;
//     color: $white; 
//     -webkit-text-fill-color: inherit !important;
// }

/* Safari */

// ::-moz-selection {
//     background: $white;
//     color: $white !important;
//     -webkit-text-fill-color: inherit !important;
// }

.zero {
    margin: 0;
    padding: 0;
}

/* Firefox */

:-moz-placeholder,
.form-control::-moz-placeholder {
    color: #acacac;
}

::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
    color: #acacac;
}

:-ms-input-placeholder,
.form-control::-ms-input-placeholder {
    color: #acacac;
}

a,
a:hover,
a:link,
a:active,
a:focus,
a:visited {
    outline: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    line-height: normal;
    margin: 0;
}

*:focus {
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    direction: $ltr;
    color: $black;
    font-family: $inter, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    background-color: $primary-600;
    overflow-x: hidden;
}

main {
    // padding-top: 160px;
    padding-bottom: 366px;

    @include max992 {
        // padding-top: 110px;
        padding-bottom: 300px;
    }
}

// .dropdown-toggle {
//     &::after {
//         display: none;
//     }
// }
.dropdown-menu {
    // #{$right}: 0 !important;
    // #{$left}: auto !important;
    left: 50% !important;
    transform: translateX(-50%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

li {
    &.dropdown {
        .primaryBtn {
            cursor: pointer;

            .fa-chevron-down {
                position: relative;
                #{$right}: -6px;
                top: 3px;
            }

            .profile {
                display: none;

                @include max426 {
                    display: block;
                }
            }
        }

        .dropdown-menu {
            padding: 0;
            border-radius: 10px;
            border: 0;
            min-width: 280px;

            @include max426 {
                min-width: 250px;
            }

            // border: 1px solid #e9e9e9;
        }

        .drop-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: $left;
            padding: 15px 10px;
            border-bottom: 1px solid #e9e9e9;

            &:hover {
                background: $secondary-600;

                span {
                    color: $white;
                }
            }

            &:last-of-type {
                border-color: transparent;
            }

            span {
                line-height: 29px;
                font-size: 15px;
                color: #000;
                margin-#{$left}: 10px;
            }
        }
    }
}

.dropdown {
    .primaryBtn {
        cursor: pointer;
        display: flex;
        align-items: center;

        // &:hover {
        //     background: transparent;
        // }
        &::after {
            display: none !important;
        }

        .fa-chevron-down {
            position: relative;
            #{$right}: 0;
            top: 1px;
            color: $white;
            font-size: 10px;
        }

        .profile {
            width: 24px;
            height: 24px;
            margin-#{$right}: 8px;
        }

        .info {
            color: $white;

            span {
                opacity: 0.3;
                font-size: 15px;
            }

            p {
                white-space: nowrap;
                max-width: 110px;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    .dropdown-menu {
        padding: 0;
        border-radius: 10px;
        border: 0;
        min-width: 280px;

        // border: 1px solid #e9e9e9;
        @include max426 {
            min-width: 232px;
        }
    }

    .drop-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: $left;
        padding: 15px 10px;
        border-bottom: 1px solid #e9e9e9;
        position: relative;

        &:hover {
            background: $secondary-600;

            span {
                color: $white;

                .num {
                    background: $primary-600;
                }
            }
        }

        &:first-of-type {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        &:last-of-type {
            border-color: transparent;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        span {
            font-size: 15px;
            color: #000;
            margin-#{$left}: 10px;

            .num {
                margin: 0;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-size: 11px;
                background: $secondary-600;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                #{$right}: 23px;
                top: 50%;
                transform: translateY(-50%);
                color: $white;
            }
        }

        &.logout {
            background: #ff13130f;

            &:hover {
                background: $secondary-600;
            }
        }
    }
}

.dropdown-toggle {
    &::after {
        display: none;
    }
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    box-shadow: none;
}

.p-t {
    padding-top: 50px;

    @include max992 {
        padding-top: 0
    }
}

.p-t-b {
    overflow: hidden;
    padding: 48px 0;

    // @include max1200 {
    //     padding: 50px 0;
    // }

    @include max992 {
        padding: 30px 0;
    }
}

.p-t-0 {
    padding-top: 0;
}

// .main_bg {
//     position: relative;
//     &::after {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         width: 100%;
//         height: 700px;
//         background: url('../../images/bredcrumbBG.png');
//         background-size: cover;
//         background-position: top;
//         background-repeat: no-repeat;
//     }
//     > section {
//         position: relative;
//         z-index: 2;
//     }
// }
.shared {
    padding: 5px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    min-height: 51px;
    color: $primary-600;
    border-radius: 2px;
    border: 0;
    background-color: #E3F5F5;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    position: relative;
    overflow: hidden;

    span {
        position: relative;
        z-index: 2;
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        background-color: $secondary-600;
        transition: all 0.3s linear;
    }

    &::after {
        #{$left}: -22px;
        width: 20px;
        top: 10px;
        transform: rotate(45deg);
    }

    &::before {
        #{$left}: 0;
        width: 0;
        top: 0;
    }

    &:hover {
        background-color: $secondary-600;

        &::before {
            width: 100%;
        }
    }

    .iconsm {
        transition: all 0.5s ease-in-out;
        margin-#{$left}: 5px;
    }

    &.seeAll {
        display: inline-flex;
    }
}

.primaryBtn {
    background-color: $primary-600;
    color: $white;
}

.blackBtn {
    background-color: #121212;
    color: $white;

    &::after,
    &::before {
        background-color: $white;
    }

    &:hover {
        background-color: $white;
    }
}

.secondaryBtn {
    background: $secondary-600;
    color: $white;
    border-color: $secondary-600;

    &:hover {
        background: $primary-600;
        border-color: $primary-600;
        color: $white;
    }
}

.desc {
    font-family: $inter;
    font-weight: 400;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $white;

    .desc * {
        font-family: $inter;
        line-height: 28px;
    }
}

.proForm {
    .form-group {
        position: relative;
        margin-bottom: 16px;

        @include max992 {
            // margin-bottom: 15px;
        }

        .keys {
            position: absolute;
            bottom: 0;
            #{$left}: 0;
            width: 93px;

            img {
                position: absolute;
                #{$left}: 20px;
                top: 50%;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
            }

            .form-control {
                background-color: transparent;
                border-radius: 0;
                border-color: transparent;
                border-#{$right}: 1px solid #dbdbdb;
                padding: 0;
            }
        }

        &.withIcon {
            .form-control {
                padding-#{$left}: 50px;

                &.phone {
                    padding-#{$left}: 100px;
                }
            }

            .fieldIcon {
                position: absolute;
                bottom: 14px;
                #{$left}: 13px;
            }

            .select2-container {
                .select2-selection--single {
                    height: 48px;
                    background: $white;

                    .select2-selection__rendered {
                        padding-#{$left}: 48px;
                    }
                }
            }
        }



        .form-check {
            padding-#{$left}: 30px;

            .form-check-input {
                float: $left;
                margin-#{$left}: -30px;
                box-shadow: none;
                width: 20px;
                height: 20px;
                border-radius: 50%;

                &.form-check-input:checked {
                    background-color: $primary-600;
                    border-color: $primary-600;
                }
            }

            .form-check-label {
                cursor: pointer;

                @include max360 {
                    font-size: 12px;
                }
            }
        }
    }

    .control-label {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $white;
        margin-bottom: 13px;

        span {
            color: #EB5757;
        }
    }

    .form-control {
        outline: 0;
        height: 52px;
        padding: 16px;
        box-shadow: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000;
        border: 1px solid #D9D7D7;
        background-color: #EDF7F5;
        box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
        border-radius: 0;

        &::placeholder {
            font-size: 14px;
            line-height: 20px;
            color: #6E7C87;

            @include max576 {
                font-size: 13px;
            }
        }

        &:focus,
        &:hover,
        &:active {
            border-color: $primary-600;
        }

        &.details {
            min-height: 130px;
            max-height: 130px;
            resize: none;
        }

        &.search {
            height: 33px;
            background-color: $primary-400 ;
            border-radius: 4px;
            color: $white;
            border-color: transparent;
            padding: 10px;

            &::placeholder {
                color: $white;
            }
        }
    }

    .note {
        font-size: 14px;
        margin-top: 14px;

        span {
            color: $secondary-600;
        }
    }

    .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        #{$right}: 13px;
    }

    .showPassword {
        position: absolute;
        top: 50px;
        #{$left}: 20px;
        cursor: pointer;
    }

    .select2-container {
        direction: $ltr;
        width: 100% !important;

        .select2-selection--single {
            height: 48px;
            background: rgba($color: $white, $alpha: 0.4);

            height: 48px;

            background: #FFFFFF;
            border: 1px solid $primary-600;
            border-radius: 5px;


            .select2-selection__rendered {
                display: flex;
                align-items: center;
                line-height: normal;
                height: 48px;
                font-weight: 500;
                font-size: 16px;
                // padding-#{$left}: 50px;
                padding-#{$left}: 20px;
            }

            .select2-selection__arrow {
                #{$left}: auto;
                #{$right}: 10px;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                align-items: center;

                b {
                    // background-image: url("../../images/arrowDown.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    // background: transparent;
                    border: none !important;
                    height: 24px !important;
                    width: 24px !important;
                    margin: auto !important;
                    top: auto !important;
                    left: auto !important;
                }
            }
        }
    }
}

.social ul {
    display: flex;

    li {
        display: inline-block;
        text-align: center;
        margin: 0 7px;

        a {
            background-color: $primary-600;
            color: $white;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            transition: all 0.5s ease-in-out;

            &.youtube:hover {
                background: #ff0000 !important;
            }

            &.telegram:hover {
                background: #0088cc !important;
            }

            &.instagram:hover {
                background: #c13584 !important;
            }

            &.twitter:hover {
                background: #1da1f2 !important;
            }

            &.facebook:hover {
                background: #1877f2 !important;
            }

            &.whats:hover {
                background: #25d366 !important;
            }

            &.pinterest:hover {
                background: #bd081c !important;
            }

            &.linkedin:hover {
                background: #0077b5 !important;
            }

            &.rss:hover {
                background: #f26522 !important;
            }

            @include max992 {
                width: 30px;
                height: 30px;
                font-size: 16px;
            }

            &:hover {
                color: $white;

                img {
                    filter: brightness(55)
                }
            }

        }
    }
}

.sec_title {
    position: relative;
    margin-bottom: 40px;

    .sub_title {
        font-family: $inter;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 12px;
        position: relative;
        padding-#{$left}: 18px;

        &::after {
            content: '';
            position: absolute;
            #{$left}: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 2px;
            background-color: $secondary-600;
        }
    }

    .title {
        font-family: $sora;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        background: -webkit-linear-gradient(93.05deg, #FFFFFF -3.41%, #465151 178.76%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include max992 {
            font-size: 30px;
            line-height: 40px;
        }

        @include max768 {
            text-align: center;
        }

        img {
            margin-#{$right}: 9px;
        }
    }
}

.main_title {
    font-family: $inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 40px;
    color: #3c3c3c;
    text-align: center;

    span {
        color: $primary-600;
    }

    @include max992 {
        font-size: 32px;
    }
}

// .swiper {
//     padding-bottom: 80px;
// }
.swiper-buttons {
    position: absolute;
    z-index: 99999;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.swiper-button {

    &-prev,
    &-next {
        position: static;
        width: 48px;
        height: 48px;
        color: $white;
        background: $primary-600;
        border-radius: 50%;

        &::after {
            font-size: 12px;
        }

        &:hover {
            background-color: $secondary-600;
        }
    }

    &-next {
        #{$right}: 30px;
    }

    &-prev {
        #{$left}: 30px;
    }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    height: 1px;
    border-radius: 0;
    width: 40px;
    background: $white;

    &.swiper-pagination-bullet-active {
        background: $white;
    }
}

.pagination {
    padding-top: 30px;

    @include max768 {
        li {
            display: none;

            &:first-child,
            &:last-child {
                display: block;
            }
        }
    }

    a {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba($color: $secondary-600, $alpha: 1);
        color: $white !important;
        font-weight: 600;
        font-size: 16px;
        margin-#{$right}: 7px;
        border-radius: 15px;
        transition: all 0.3s ease-in-out;

        &:hover,
        &.active {
            background: $primary-600;
            color: $white;
        }
    }
}

.generalTable {
    table {
        > :not(:first-child) {
            border: 0;
        }

        th,
        td {
            border: 0;
            vertical-align: middle;
            width: 20%;
            min-width: 141px;
            height: 47px;

            &.num {
                padding-#{$left}: 28px;
            }
        }
    }

    thead {
        th {
            background-color: #31b979;
            color: $white;
            font-size: 15px;
        }
    }

    tbody {
        tr:nth-child(even) {
            background: rgba($color: #31b979, $alpha: 0.12);
        }

        td {
            &.amount {
                color: #31b979;
            }

            &.email,
            &.name {
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }
}

.select2-container--open .select2-dropdown--below {
    border-top: 1px solid #aaa;
    direction: $ltr;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: $secondary-600;
}

.select2-container .select2-search--inline .select2-search__field {
    min-height: 50px;
    max-height: 50px;
}

.select2-container--default .select2-selection--multiple {
    display: flex;
    align-items: center;
    height: 50px;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    display: flex;
    align-items: center;
    background: $secondary-600;
    color: $white;
    height: 35px;
    border-radius: 0;
    border: 0;
    padding: 0 4px;
    padding-#{$right}: 21px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border: 0;
    color: $white;
    #{$right}: 0;
    top: 1px;
    font-size: 20px;

    &:hover {
        background: transparent;
        color: $primary-600;
    }
}

/* top top*/
.toTop {
    text-align: #{$right};
}

.back-to-top-btn {
    position: static;
    bottom: 30px;
    #{$left}: 28px;
    cursor: pointer;
    // display: none;
    z-index: 10;
    /**/
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 40px;
    background-color: $primary-400;
    color: $white;

    @include max992 {
        margin-top: 10px;
    }

    &:hover {
        background-color: $secondary-600;
    }

    // i {
    //     background: $secondary-600;
    //     color: $white;
    //     height: 50px;
    //     width: 50px;
    //     line-height: 50px;
    //     display: inline-block;
    //     text-align: center;
    //     font-size: 22px;
    //     border-radius: 50%;
    //     -webkit-transition: 0.5s all ease;
    //     transition: 0.5s all ease;
    //     -webkit-box-shadow: 0 0 14px 0 $secondary-600;
    //     box-shadow: 0 0 14px 0 $secondary-600;

    //     &:hover {
    //         background: $primary-600;
    //         color: $white;
    //         -webkit-box-shadow: 0 0 14px 0 $primary-600;
    //         box-shadow: 0 0 14px 0 $primary-600;
    //     }
    // }
}

.whatsAppFixed {
    #{$right}: 28px;
    display: block !important;
    position: fixed;
    bottom: 30px;
    cursor: pointer;
    z-index: 10;
    color: $white;
    height: 50px;
    width: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    -webkit-box-shadow: 0 0 14px 0 $secondary-600;
    box-shadow: 0 0 14px 0 $secondary-600;
    background: $secondary-600;

    img {
        width: 30px;
    }

    &:hover {
        background: $black;
        color: $white;
        -webkit-box-shadow: 0 0 14px 0 $black;
        box-shadow: 0 0 14px 0 $black;
    }
}

/* loading screen*/
.loader-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $primary-600;
    width: 100%;
    height: 100%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    color: #fff;
    font-size: 70px;

}

.loader-16 {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    display: inline-block;
    width: 1em;
    height: 1em;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
    display: none;

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        border-radius: 50%;
        animation: 1s spin linear infinite;
    }

    &:before {
        transform: rotateX(70deg);
    }

    &:after {
        transform: rotateY(70deg);
        animation-delay: 0.4s;
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: 0.2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: 0.2em 0.2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 0.2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -0.2em 0.2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -0.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -0.2em -0.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -0.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: 0.2em -0.2em 0 0 currentcolor;
    }
}

//////////////////////////////////

@-webkit-keyframes loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loader {
    position: absolute;
    margin: -18px 0 0 -18px;
    border: 3.6px solid $white;
    box-sizing: border-box;
    overflow: hidden;
    width: 36px;
    height: 36px;
    left: 50%;
    top: 50%;
    animation: loader-spin 2s linear infinite reverse;
    -webkit-filter: url(#goo);
    filter: url(#goo);
    box-shadow: 0 0 0 1px #5fc4b4 inset;
}

.loader:before {
    content: "";
    position: absolute;
    -webkit-animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
    animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
    background: $white;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    border-radius: 50%;
    width: 150%;
    height: 150%;
    top: 50%;
    left: -12.5%;
}

.fixed-icon {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #25d366;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 70px;
    #{$right}: 3%;
    z-index: 999;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 0 rgba(51, 153, 51, 0.4);
    animation: pulse 2s infinite;
}