// @import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap');
// font-family: 'IBM Plex Sans Arabic', sans-serif;
$sora: IBM Plex Sans Arabic;
$inter: IBM Plex Sans Arabic;

// font-family: 'Sora', sans-serif;
// font-family: 'Inter', sans-serif;

/****************/


/*  Colors */
$white : #FFF;
$black : #000;
$dark : #393939; 
$mainBG: #F5F5F5;


$primary-100 : #DBDEE1;
$primary-200 : #B7BDC3;
$primary-300 : #B7BDC3;
$primary-400 : #6E7C87;
$primary-500 : #4A5B69;
$primary-600 : #263A4B;


$secondary-50 : #B7BDC3;
$secondary-100 : #BEBEB5;
$secondary-200 : #C6C0A6;
$secondary-300 : #CDC198;
$secondary-400 : #D4C28A;
$secondary-500 : #DCC47B;
$secondary-600 : #E3C56D;