@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap");
/****************/
/*  Colors */
/*===================================== 
	-- initialization --
=====================================*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    @extend .clear-styles;
}*/
body::-webkit-scrollbar,
.upload__img-wrap::-webkit-scrollbar,
.modal::-webkit-scrollbar,
.chat .chat-tabs .nav-pills::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar,
.chat .chat-tabs .tab-content .chat-content::-webkit-scrollbar,
.main_header .header_navbar .navbar-light .navbar-nav .search_box .search_result::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

body::-webkit-scrollbar-track,
.upload__img-wrap::-webkit-scrollbar-track,
.modal::-webkit-scrollbar-track,
.chat .chat-tabs .nav-pills::-webkit-scrollbar-track,
.table-responsive::-webkit-scrollbar-track,
.main_header .header_navbar .navbar-light .navbar-nav .search_box .search_result::-webkit-scrollbar-track,
.chat .chat-tabs .tab-content .chat-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

body::-webkit-scrollbar-thumb,
.upload__img-wrap::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb,
.chat .chat-tabs .nav-pills::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-track,
.main_header .header_navbar .navbar-light .navbar-nav .search_box .search_result::-webkit-scrollbar-thumb,
.chat .chat-tabs .tab-content .chat-content::-webkit-scrollbar-thumb {
  background: #263A4B;
  border-radius: 20px;
}

/* Safari */
.zero {
  margin: 0;
  padding: 0;
}

/* Firefox */
:-moz-placeholder,
.form-control::-moz-placeholder {
  color: #acacac;
}

::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #acacac;
}

:-ms-input-placeholder,
.form-control::-ms-input-placeholder {
  color: #acacac;
}

a,
a:hover,
a:link,
a:active,
a:focus,
a:visited {
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  line-height: normal;
  margin: 0;
}

*:focus {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  direction: rtl;
  color: #000;
  font-family: IBM Plex Sans Arabic, sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  background-color: #263A4B;
  overflow-x: hidden;
}

main {
  padding-bottom: 366px;
}
@media screen and (max-width: 991px) {
  main {
    padding-bottom: 300px;
  }
}

.dropdown-menu {
  left: 50% !important;
  transform: translateX(-50%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

li.dropdown .primaryBtn {
  cursor: pointer;
}
li.dropdown .primaryBtn .fa-chevron-down {
  position: relative;
  left: -6px;
  top: 3px;
}
li.dropdown .primaryBtn .profile {
  display: none;
}
@media screen and (max-width: 426px) {
  li.dropdown .primaryBtn .profile {
    display: block;
  }
}
li.dropdown .dropdown-menu {
  padding: 0;
  border-radius: 10px;
  border: 0;
  min-width: 280px;
}
@media screen and (max-width: 426px) {
  li.dropdown .dropdown-menu {
    min-width: 250px;
  }
}
li.dropdown .drop-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding: 15px 10px;
  border-bottom: 1px solid #e9e9e9;
}
li.dropdown .drop-link:hover {
  background: #E3C56D;
}
li.dropdown .drop-link:hover span {
  color: #FFF;
}
li.dropdown .drop-link:last-of-type {
  border-color: transparent;
}
li.dropdown .drop-link span {
  line-height: 29px;
  font-size: 15px;
  color: #000;
  margin-right: 10px;
}

.dropdown .primaryBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dropdown .primaryBtn::after {
  display: none !important;
}
.dropdown .primaryBtn .fa-chevron-down {
  position: relative;
  left: 0;
  top: 1px;
  color: #FFF;
  font-size: 10px;
}
.dropdown .primaryBtn .profile {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
.dropdown .primaryBtn .info {
  color: #FFF;
}
.dropdown .primaryBtn .info span {
  opacity: 0.3;
  font-size: 15px;
}
.dropdown .primaryBtn .info p {
  white-space: nowrap;
  max-width: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dropdown .dropdown-menu {
  padding: 0;
  border-radius: 10px;
  border: 0;
  min-width: 280px;
}
@media screen and (max-width: 426px) {
  .dropdown .dropdown-menu {
    min-width: 232px;
  }
}
.dropdown .drop-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding: 15px 10px;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
}
.dropdown .drop-link:hover {
  background: #E3C56D;
}
.dropdown .drop-link:hover span {
  color: #FFF;
}
.dropdown .drop-link:hover span .num {
  background: #263A4B;
}
.dropdown .drop-link:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dropdown .drop-link:last-of-type {
  border-color: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropdown .drop-link span {
  font-size: 15px;
  color: #000;
  margin-right: 10px;
}
.dropdown .drop-link span .num {
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 11px;
  background: #E3C56D;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
  color: #FFF;
}
.dropdown .drop-link.logout {
  background: rgba(255, 19, 19, 0.0588235294);
}
.dropdown .drop-link.logout:hover {
  background: #E3C56D;
}

.dropdown-toggle::after {
  display: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  box-shadow: none;
}

.p-t {
  padding-top: 50px;
}
@media screen and (max-width: 991px) {
  .p-t {
    padding-top: 0;
  }
}

.p-t-b {
  overflow: hidden;
  padding: 48px 0;
}
@media screen and (max-width: 991px) {
  .p-t-b {
    padding: 30px 0;
  }
}

.p-t-0 {
  padding-top: 0;
}

.shared {
  padding: 5px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  min-height: 51px;
  color: #263A4B;
  border-radius: 2px;
  border: 0;
  background-color: #E3F5F5;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  position: relative;
  overflow: hidden;
}
.shared span {
  position: relative;
  z-index: 2;
}
.shared::after, .shared::before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #E3C56D;
  transition: all 0.3s linear;
}
.shared::after {
  right: -22px;
  width: 20px;
  top: 10px;
  transform: rotate(45deg);
}
.shared::before {
  right: 0;
  width: 0;
  top: 0;
}
.shared:hover {
  background-color: #E3C56D;
}
.shared:hover::before {
  width: 100%;
}
.shared .iconsm {
  transition: all 0.5s ease-in-out;
  margin-right: 5px;
}
.shared.seeAll {
  display: inline-flex;
}

.primaryBtn {
  background-color: #263A4B;
  color: #FFF;
}

.blackBtn {
  background-color: #121212;
  color: #FFF;
}
.blackBtn::after, .blackBtn::before {
  background-color: #FFF;
}
.blackBtn:hover {
  background-color: #FFF;
}

.secondaryBtn {
  background: #E3C56D;
  color: #FFF;
  border-color: #E3C56D;
}
.secondaryBtn:hover {
  background: #263A4B;
  border-color: #263A4B;
  color: #FFF;
}

.desc {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
}
.desc .desc * {
  font-family: IBM Plex Sans Arabic;
  line-height: 28px;
}

.proForm .form-group {
  position: relative;
  margin-bottom: 16px;
}
.proForm .form-group .keys {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 93px;
}
.proForm .form-group .keys img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}
.proForm .form-group .keys .form-control {
  background-color: transparent;
  border-radius: 0;
  border-color: transparent;
  border-left: 1px solid #dbdbdb;
  padding: 0;
}
.proForm .form-group.withIcon .form-control {
  padding-right: 50px;
}
.proForm .form-group.withIcon .form-control.phone {
  padding-right: 100px;
}
.proForm .form-group.withIcon .fieldIcon {
  position: absolute;
  bottom: 14px;
  right: 13px;
}
.proForm .form-group.withIcon .select2-container .select2-selection--single {
  height: 48px;
  background: #FFF;
}
.proForm .form-group.withIcon .select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 48px;
}
.proForm .form-group .form-check {
  padding-right: 30px;
}
.proForm .form-group .form-check .form-check-input {
  float: right;
  margin-right: -30px;
  box-shadow: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.proForm .form-group .form-check .form-check-input.form-check-input:checked {
  background-color: #263A4B;
  border-color: #263A4B;
}
.proForm .form-group .form-check .form-check-label {
  cursor: pointer;
}
@media screen and (max-width: 360px) {
  .proForm .form-group .form-check .form-check-label {
    font-size: 12px;
  }
}
.proForm .control-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
  margin-bottom: 13px;
}
.proForm .control-label span {
  color: #EB5757;
}
.proForm .form-control {
  outline: 0;
  height: 52px;
  padding: 16px;
  box-shadow: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  border: 1px solid #D9D7D7;
  background-color: #EDF7F5;
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
  border-radius: 0;
}
.proForm .form-control::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #6E7C87;
}
@media screen and (max-width: 576px) {
  .proForm .form-control::placeholder {
    font-size: 13px;
  }
}
.proForm .form-control:focus, .proForm .form-control:hover, .proForm .form-control:active {
  border-color: #263A4B;
}
.proForm .form-control.details {
  min-height: 130px;
  max-height: 130px;
  resize: none;
}
.proForm .form-control.search {
  height: 33px;
  background-color: #6E7C87;
  border-radius: 4px;
  color: #FFF;
  border-color: transparent;
  padding: 10px;
}
.proForm .form-control.search::placeholder {
  color: #FFF;
}
.proForm .note {
  font-size: 14px;
  margin-top: 14px;
}
.proForm .note span {
  color: #E3C56D;
}
.proForm .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
}
.proForm .showPassword {
  position: absolute;
  top: 50px;
  right: 20px;
  cursor: pointer;
}
.proForm .select2-container {
  direction: rtl;
  width: 100% !important;
}
.proForm .select2-container .select2-selection--single {
  height: 48px;
  background: rgba(255, 255, 255, 0.4);
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #263A4B;
  border-radius: 5px;
}
.proForm .select2-container .select2-selection--single .select2-selection__rendered {
  display: flex;
  align-items: center;
  line-height: normal;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  padding-right: 20px;
}
.proForm .select2-container .select2-selection--single .select2-selection__arrow {
  right: auto;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.proForm .select2-container .select2-selection--single .select2-selection__arrow b {
  background-position: center;
  background-repeat: no-repeat;
  border: none !important;
  height: 24px !important;
  width: 24px !important;
  margin: auto !important;
  top: auto !important;
  left: auto !important;
}

.social ul {
  display: flex;
}
.social ul li {
  display: inline-block;
  text-align: center;
  margin: 0 7px;
}
.social ul li a {
  background-color: #263A4B;
  color: #FFF;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  transition: all 0.5s ease-in-out;
}
.social ul li a.youtube:hover {
  background: #ff0000 !important;
}
.social ul li a.telegram:hover {
  background: #0088cc !important;
}
.social ul li a.instagram:hover {
  background: #c13584 !important;
}
.social ul li a.twitter:hover {
  background: #1da1f2 !important;
}
.social ul li a.facebook:hover {
  background: #1877f2 !important;
}
.social ul li a.whats:hover {
  background: #25d366 !important;
}
.social ul li a.pinterest:hover {
  background: #bd081c !important;
}
.social ul li a.linkedin:hover {
  background: #0077b5 !important;
}
.social ul li a.rss:hover {
  background: #f26522 !important;
}
@media screen and (max-width: 991px) {
  .social ul li a {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}
.social ul li a:hover {
  color: #FFF;
}
.social ul li a:hover img {
  filter: brightness(55);
}

.sec_title {
  position: relative;
  margin-bottom: 40px;
}
.sec_title .sub_title {
  font-family: IBM Plex Sans Arabic;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 12px;
  position: relative;
  padding-right: 18px;
}
.sec_title .sub_title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 2px;
  background-color: #E3C56D;
}
.sec_title .title {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  background: -webkit-linear-gradient(93.05deg, #FFFFFF -3.41%, #465151 178.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 991px) {
  .sec_title .title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .sec_title .title {
    text-align: center;
  }
}
.sec_title .title img {
  margin-left: 9px;
}

.main_title {
  font-family: IBM Plex Sans Arabic;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 40px;
  color: #3c3c3c;
  text-align: center;
}
.main_title span {
  color: #263A4B;
}
@media screen and (max-width: 991px) {
  .main_title {
    font-size: 32px;
  }
}

.swiper-buttons {
  position: absolute;
  z-index: 99999;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.swiper-button-prev, .swiper-button-next {
  position: static;
  width: 48px;
  height: 48px;
  color: #FFF;
  background: #263A4B;
  border-radius: 50%;
}
.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 12px;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  background-color: #E3C56D;
}
.swiper-button-next {
  left: 30px;
}
.swiper-button-prev {
  right: 30px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  height: 1px;
  border-radius: 0;
  width: 40px;
  background: #FFF;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #FFF;
}

.pagination {
  padding-top: 30px;
}
@media screen and (max-width: 768px) {
  .pagination li {
    display: none;
  }
  .pagination li:first-child, .pagination li:last-child {
    display: block;
  }
}
.pagination a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e3c56d;
  color: #FFF !important;
  font-weight: 600;
  font-size: 16px;
  margin-left: 7px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.pagination a:hover, .pagination a.active {
  background: #263A4B;
  color: #FFF;
}

.generalTable table > :not(:first-child) {
  border: 0;
}
.generalTable table th,
.generalTable table td {
  border: 0;
  vertical-align: middle;
  width: 20%;
  min-width: 141px;
  height: 47px;
}
.generalTable table th.num,
.generalTable table td.num {
  padding-right: 28px;
}
.generalTable thead th {
  background-color: #31b979;
  color: #FFF;
  font-size: 15px;
}
.generalTable tbody tr:nth-child(even) {
  background: rgba(49, 185, 121, 0.12);
}
.generalTable tbody td.amount {
  color: #31b979;
}
.generalTable tbody td.email, .generalTable tbody td.name {
  font-family: Arial, Helvetica, sans-serif;
}

.select2-container--open .select2-dropdown--below {
  border-top: 1px solid #aaa;
  direction: rtl;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #E3C56D;
}

.select2-container .select2-search--inline .select2-search__field {
  min-height: 50px;
  max-height: 50px;
}

.select2-container--default .select2-selection--multiple {
  display: flex;
  align-items: center;
  height: 50px;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  display: flex;
  align-items: center;
  background: #E3C56D;
  color: #FFF;
  height: 35px;
  border-radius: 0;
  border: 0;
  padding: 0 4px;
  padding-left: 21px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  border: 0;
  color: #FFF;
  left: 0;
  top: 1px;
  font-size: 20px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  background: transparent;
  color: #263A4B;
}

/* top top*/
.toTop {
  text-align: left;
}

.back-to-top-btn {
  position: static;
  bottom: 30px;
  right: 28px;
  cursor: pointer;
  z-index: 10;
  /**/
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 40px;
  background-color: #6E7C87;
  color: #FFF;
}
@media screen and (max-width: 991px) {
  .back-to-top-btn {
    margin-top: 10px;
  }
}
.back-to-top-btn:hover {
  background-color: #E3C56D;
}

.whatsAppFixed {
  left: 28px;
  display: block !important;
  position: fixed;
  bottom: 30px;
  cursor: pointer;
  z-index: 10;
  color: #FFF;
  height: 50px;
  width: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-size: 22px;
  border-radius: 50%;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-box-shadow: 0 0 14px 0 #E3C56D;
  box-shadow: 0 0 14px 0 #E3C56D;
  background: #E3C56D;
}
.whatsAppFixed img {
  width: 30px;
}
.whatsAppFixed:hover {
  background: #000;
  color: #FFF;
  -webkit-box-shadow: 0 0 14px 0 #000;
  box-shadow: 0 0 14px 0 #000;
}

/* loading screen*/
.loader-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #263A4B;
  width: 100%;
  height: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  color: #fff;
  font-size: 70px;
}

.loader-16 {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
  display: none;
}
.loader-16:before, .loader-16:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  animation: 1s spin linear infinite;
}
.loader-16:before {
  transform: rotateX(70deg);
}
.loader-16:after {
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spin {
  0%, 100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
@-webkit-keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader {
  position: absolute;
  margin: -18px 0 0 -18px;
  border: 3.6px solid #FFF;
  box-sizing: border-box;
  overflow: hidden;
  width: 36px;
  height: 36px;
  left: 50%;
  top: 50%;
  animation: loader-spin 2s linear infinite reverse;
  -webkit-filter: url(#goo);
  filter: url(#goo);
  box-shadow: 0 0 0 1px #5fc4b4 inset;
}

.loader:before {
  content: "";
  position: absolute;
  -webkit-animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
  animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
  background: #FFF;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  border-radius: 50%;
  width: 150%;
  height: 150%;
  top: 50%;
  left: -12.5%;
}

.fixed-icon {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #25d366;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 70px;
  left: 3%;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 0 rgba(51, 153, 51, 0.4);
  animation: pulse 2s infinite;
}

/* SCSS 1. ADD VENDOR PREFIXES TO ANY CSS PROPERTY */
/* SCSS 2. VERTICAL CENTERING*/
/* SCSS 3. ABSOLUTE POSITIONING */
/* SCSS 4. TEXT SHORTENING*/
/* SCSS 4. TEXT SHORTENING*/
/*components*/
.main_header {
  width: 100%;
  top: 48px;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  padding: 15px 0;
  position: fixed;
}
@media screen and (max-width: 991px) {
  .main_header {
    top: 20px;
  }
}
.main_header.header-fixed {
  background-color: #263A4B;
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
  top: 0;
  padding: 15px 0;
  padding: 5px 0;
}
.main_header.header-fixed .header_navbar .hamburger .line {
  background-color: #E3C56D;
}
@media screen and (max-width: 991px) {
  .main_header {
    padding: 10px 0;
  }
}
.main_header .row {
  align-items: center;
}
.main_header .row .logo {
  display: inline-block;
}
@media screen and (max-width: 991px) {
  .main_header .row .logo {
    text-align: left;
  }
}
.main_header .header_navbar .hamburger {
  display: none;
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .hamburger {
    display: inline-block;
    transform: scale(0.7);
  }
}
.main_header .header_navbar .hamburger:hover {
  cursor: pointer;
}
.main_header .header_navbar .hamburger.is-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg) scale(0.7);
}
.main_header .header_navbar .hamburger.is-active .line:nth-child(2) {
  width: 0px;
}
.main_header .header_navbar .hamburger.is-active .line:nth-child(1), .main_header .header_navbar .hamburger.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.main_header .header_navbar .hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}
.main_header .header_navbar .hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}
.main_header .header_navbar .hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #E3C56D;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main_header .header_navbar .navbar-light {
  padding: 0;
}
.main_header .header_navbar .navbar-light .navbar-brand img {
  position: absolute;
  top: -62px;
}
@media screen and (max-width: 1440px) {
  .main_header .header_navbar .navbar-light .navbar-brand img {
    top: -6px;
    width: 106px;
  }
}
.main_header .header_navbar .navbar-light .navbar-collapse {
  justify-content: flex-end;
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-collapse {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    border-radius: 0;
    background: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .main_header .header_navbar .navbar-light .navbar-collapse.show {
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .main_header .header_navbar .navbar-light .navbar-collapse {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  .main_header .header_navbar .navbar-light .navbar-collapse {
    width: 80%;
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item {
  position: relative;
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav .nav-item {
    text-align: center;
  }
  .main_header .header_navbar .navbar-light .navbar-nav .nav-item .shared {
    display: inline-flex;
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown {
  cursor: pointer;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu {
  min-width: 160px;
  background-color: transparent;
  border-radius: 5px;
  padding-top: 8px;
  border: 0;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #6E7C87;
  display: none;
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu {
    position: absolute;
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu li:first-of-type {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu li:first-of-type .drop-link {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu li:last-of-type {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu li:last-of-type .drop-link {
  border-color: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .drop-link {
  border: 0;
  font-size: 14px;
  line-height: 25px;
  color: #FFF;
  background-color: #6E7C87;
  border-radius: 0;
  padding: 7px 6px;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .drop-link:hover {
  background-color: #656856;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-link {
  padding: 12px 10px;
  color: #FFF;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.06em;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  display: inline-block;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-link .drop-link:hover ~ .dropdown-menu {
  display: block;
}
@media screen and (max-width: 1400px) {
  .main_header .header_navbar .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    padding: 12px 9px;
  }
}
@media screen and (max-width: 1200px) {
  .main_header .header_navbar .navbar-light .navbar-nav .nav-link {
    font-size: 13px;
    padding: 12px 7px;
  }
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    text-align: center;
    padding: 17px 0;
    color: #263A4B;
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-link .fa-chevron-down {
  position: relative;
  top: 1px;
  font-size: 11px;
  padding-right: 6px;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-link .fa-search {
  font-size: 16px;
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav .nav-link .fa-search {
    font-size: 18px;
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-link.active, .main_header .header_navbar .navbar-light .navbar-nav .nav-link:hover {
  color: #E3C56D;
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: 50px;
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .searchIcon {
  cursor: pointer;
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box {
  padding: 50px 0;
  display: none;
  padding: 15px;
  position: absolute;
  width: 420px;
  margin-top: 50px;
  z-index: 40;
  left: 0;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #E3C56D;
  box-shadow: 5px 5px 30px 5px rgba(219, 42, 53, 0.2);
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav .search_box {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .search_result {
  margin-top: 15px;
  max-height: 200px;
  overflow-y: auto;
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .search_result li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  display: block;
  padding: 10px 16px;
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .search_result li a:hover {
  background-color: #E3C56D;
  color: #FFF;
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav .search_box {
    margin-top: 0;
    width: 95%;
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm {
  box-shadow: 0px 0px 40px rgba(23, 96, 135, 0.1019607843);
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm {
    box-shadow: 0px 0px 13px rgba(23, 96, 135, 0.3411764706);
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm .form-group .form-control {
  height: 65px;
  background-color: #FFF;
  color: #000;
  padding-right: 40px;
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm .form-group .form-control::placeholder {
  color: #000;
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm .form-group .form-control:focus, .main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm .form-group .form-control:hover {
  border-color: #263A4B;
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm .form-group i,
.main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm .form-group img {
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  position: absolute;
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm .form-group .primaryBtn {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  min-width: auto;
}

.over-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 55;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.over-nav.is-active {
  display: block;
}

.over-search {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 30;
}
.over-search.is-active {
  display: block;
}
@media screen and (max-width: 991px) {
  .over-search.is-active {
    display: none;
  }
}

footer {
  background-color: #E3F5F5;
  position: relative;
  padding-top: 1px;
}
footer .footer_up {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 46px 64px;
  margin-top: -229px;
  margin-bottom: 65px;
}
@media screen and (max-width: 991px) {
  footer .footer_up {
    padding: 30px;
  }
}
footer .footer_up .text {
  width: 74%;
}
@media screen and (max-width: 991px) {
  footer .footer_up .text {
    width: 100%;
  }
}
footer .footer_up .sec_title {
  margin-bottom: 56px;
}
@media screen and (max-width: 991px) {
  footer .footer_up .sec_title {
    margin-bottom: 20px;
  }
}
footer .footer_up .sec_title .title {
  background: linear-gradient(102.56deg, #263A4B -11.25%, #6E7C87 118.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .footer_up .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6E7C87;
  margin-bottom: 16px;
}
@media screen and (max-width: 991px) {
  footer .footer_up .shared {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  footer .footer_up .map {
    margin-top: 20px;
  }
}
footer .footer_up .map iframe {
  width: 100%;
  margin-bottom: 13px;
}
footer .footer_up .map .shared {
  width: 100%;
}
@media screen and (max-width: 768px) {
  footer .footer_logo {
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  footer .footer_links {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  footer .footer_links {
    text-align: center;
  }
}
footer .footer_links h4 {
  font-family: IBM Plex Sans Arabic;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #121212;
  margin-bottom: 16px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  footer .footer_links h4 {
    margin-top: 20px;
  }
}
footer .footer_links .desc {
  margin-bottom: 40px;
}
@media screen and (max-width: 991px) {
  footer .footer_links .desc {
    margin-bottom: 20px;
  }
}
footer .footer_links ul li a {
  font-family: IBM Plex Sans Arabic;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #121212;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 576px) {
  footer .footer_links ul li a {
    justify-content: center;
  }
}
footer .footer_links ul li a:hover {
  color: #E3C56D;
}
footer .newsLetter {
  align-items: flex-end;
  padding-bottom: 40px;
}
footer .newsLetter .title {
  margin-bottom: 16px;
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #121212;
}
@media screen and (max-width: 991px) {
  footer .newsLetter .proForm {
    text-align: center;
  }
  footer .newsLetter .proForm .shared {
    display: inline-flex;
    margin-bottom: 15px;
  }
}
footer .newsLetter .proForm .form-group .form-control {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #263A4B;
  box-shadow: none;
  height: auto;
  color: #263A4B;
  border-radius: 0;
  padding: 5px 0;
}
footer .newsLetter .proForm .form-group .form-control::placeholder {
  color: #263A4B;
}
footer .newsLetter .proForm .form-group .form-control:focus, footer .newsLetter .proForm .form-group .form-control:hover, footer .newsLetter .proForm .form-group .form-control:active {
  border-color: #E3C56D;
}
footer .newsLetter .proForm .form-group .icon {
  right: auto;
  left: 0;
}
footer .newsLetter .desc {
  color: #263A4B;
  margin-bottom: 24px;
}
footer .newsLetter .shared {
  min-width: 172px;
  background-color: #6E7C87;
}
footer .newsLetter .privacy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 991px) {
  footer .newsLetter .privacy {
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  footer .newsLetter .privacy {
    flex-direction: column;
  }
}
footer .newsLetter .privacy .privacy_ul {
  display: flex;
}
@media screen and (max-width: 576px) {
  footer .newsLetter .privacy .privacy_ul li {
    margin-bottom: 5px;
  }
}
footer .newsLetter .privacy .privacy_ul li:not(:last-of-type) {
  margin-left: 24px;
}
@media screen and (max-width: 991px) {
  footer .newsLetter .privacy .privacy_ul li:not(:last-of-type) {
    margin-left: 15px;
  }
}
footer .newsLetter .privacy .privacy_ul li a {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #263A4B;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
footer .newsLetter .privacy .privacy_ul li a:hover {
  color: #E3C56D;
}
footer .newsLetter .privacy .social ul {
  padding-right: 24px;
  margin-right: 24px;
  position: relative;
}
footer .newsLetter .privacy .social ul::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #263A4B;
  border-radius: 110px;
}
footer .newsLetter .privacy .social li {
  margin: 0;
}
footer .newsLetter .privacy .social li:not(:last-of-type) {
  margin-left: 24px;
}
@media screen and (max-width: 991px) {
  footer .newsLetter .privacy .social li:not(:last-of-type) {
    margin-left: 15px;
  }
}
footer .newsLetter .privacy .social li a {
  width: auto;
  height: 37px;
  background-color: transparent;
  border: 0;
  font-size: 25px;
  color: #263A4B;
}
footer .newsLetter .privacy .social li a:hover {
  color: #E3C56D;
}
footer .newsLetter .privacy .shared {
  display: inline-flex;
  background-color: transparent;
  color: #E3C56D;
}
footer .newsLetter .privacy .shared:hover {
  background-color: #E3C56D;
  color: #FFF;
  border-color: #E3C56D;
}

.donaite-card {
  background-color: #E3F5F5;
  margin-bottom: 24px;
  border-radius: 6px;
  display: block;
}
.donaite-card .donaite-image {
  height: 240px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  display: block;
  overflow: hidden;
}
.donaite-card .donaite-image img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}
.donaite-card .text {
  padding: 16px;
}
.donaite-card .text .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.donaite-card .text .details .num {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #263A4B;
}
.donaite-card .text .details .m_actions {
  display: flex;
  flex-wrap: wrap;
}
.donaite-card .text .details .m_actions li:not(:last-of-type) {
  margin-left: 8px;
}
.donaite-card .text .details .m_actions li .shared {
  min-height: 33px;
  padding: 8px 14px;
}
.donaite-card .text .details .m_actions li .shared::after {
  top: 7px;
}
.donaite-card .text .details .m_actions li .shared.blackBtn::after, .donaite-card .text .details .m_actions li .shared.blackBtn::before {
  background-color: #E3C56D;
}
.donaite-card .text .details .m_actions li .shared.blackBtn:hover {
  background-color: #E3C56D;
}
.donaite-card .text .name {
  font-family: IBM Plex Sans Arabic;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #465151;
  display: inline-block;
}
.donaite-card .text .ch_name {
  display: block;
}
.donaite-card.done .text .details {
  justify-content: center;
  margin-bottom: 4px;
}
.donaite-card.done .text .details .num {
  font-size: 38px;
  line-height: 48px;
}
.donaite-card.done .text .name {
  text-align: center;
  font-size: 18px;
  display: inherit;
}
.donaite-card.orphan_card {
  display: flex;
  align-items: center;
}
.donaite-card.orphan_card .donaite-image {
  height: 118px;
  min-width: 100px;
}
.donaite-card.orphan_card .text {
  width: calc(100% - 100px);
}
.donaite-card.orphan_card .text .name {
  display: block;
  margin-bottom: 6px;
}
.donaite-card:hover .donaite-image img {
  transform: scale(1.05);
}

.bread_crumb {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #263A4B url("../../images/breadcrumb_bg.png");
  background-size: cover;
}
@media screen and (max-width: 991px) {
  .bread_crumb {
    height: 296px;
  }
}
.bread_crumb .title {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  color: #FFF;
  text-align: center;
  color: #FFF;
}
@media screen and (max-width: 991px) {
  .bread_crumb .title {
    font-size: 40px;
  }
}
@media screen and (max-width: 576px) {
  .bread_crumb .title {
    font-size: 30px;
  }
}

.login_page {
  padding-top: 48px;
}
.login_page .pattern {
  position: fixed;
  opacity: 0.7;
}
.login_page .pattern.top {
  top: 0;
  left: 0;
}
.login_page .pattern.bottom {
  bottom: 0;
  right: 0;
}
.login_page .container {
  position: relative;
  z-index: 2;
}
.login_page .row {
  padding: 50px 0;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .login_page .img {
    text-align: center;
    width: 320px;
    margin: auto;
    margin-bottom: 25px;
  }
}
.login_page .proForm .text .title {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 44px;
  line-height: 55px;
  color: #E3C56D;
}
.login_page .proForm .text .desc {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6E7C87;
  margin: 16px 0;
}
.login_page .proForm .text .havAcc {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  margin-bottom: 30px;
}
.login_page .proForm .text .havAcc .link {
  color: #6E7C87;
}
.login_page .proForm .text .form-group .form-label {
  font-family: IBM Plex Sans Arabic;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  margin-bottom: 12px;
}
.login_page .proForm .text .form-group .form-control {
  padding: 8px 12px;
  height: 41px;
  background: rgba(110, 124, 135, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.8);
}
.login_page .proForm .text .form-group .form-control::placeholder {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.8);
}
.login_page .proForm .text .fogetPass {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFF;
  margin-bottom: 24px;
}
.login_page .proForm .text .fogetPass .link {
  color: #1877F2;
}
.login_page .proForm .text .submit {
  width: 100%;
  padding: 14px 8px;
  min-height: 47px;
  background: #465151;
  border-radius: 4px;
  font-family: IBM Plex Sans Arabic;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
}
.login_page .proForm .text .submit:hover {
  background-color: #E3C56D;
}
.login_page .proForm .text .or {
  text-align: center;
  position: relative;
  margin: 24px 0;
}
.login_page .proForm .text .or::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.6);
}
.login_page .proForm .text .or span {
  background-color: #263A4B;
  color: #FFF;
  padding: 0 24px;
  position: relative;
  z-index: 2;
}
.login_page .proForm .text .social_login {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.login_page .proForm .text .social_login li {
  width: 48%;
}
.login_page .proForm .text .social_login .btn {
  padding: 12px 8px;
  min-height: 44px;
  background: #FFFFFF;
  border-radius: 4px;
  width: 100%;
}
.login_page .proForm .text .social_login .btn .btn_icon {
  margin-left: 8px;
}
.login_page .proForm .text .social_login .btn.facebook {
  background-color: #1877F2;
  color: #FFF;
}
.login_page .proForm .text .social_login .btn:hover {
  opacity: 0.8;
}
.login_page .proForm .text .shared {
  min-height: 43px;
  width: 100%;
}

/*pages*/
.main-slider {
  overflow: hidden;
  position: relative;
  padding-top: 160px;
}
@media screen and (max-width: 991px) {
  .main-slider {
    padding-top: 110px;
  }
}
.main-slider .swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  position: relative;
  padding-bottom: 56px;
}
@media screen and (max-width: 576px) {
  .main-slider .swiper-slide {
    height: 350px;
  }
}
.main-slider .swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.main-slider .swiper-slide .row {
  width: 100%;
}
.main-slider .swiper-slide .slider-content {
  position: relative;
  z-index: 2;
  padding-left: 15px;
  padding-right: 126px;
}
@media screen and (max-width: 991px) {
  .main-slider .swiper-slide .slider-content {
    padding: 0 20px;
  }
}
.main-slider .swiper-slide .slider-content h1 {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  color: #FFF;
  margin-bottom: 16px;
}
@media screen and (max-width: 991px) {
  .main-slider .swiper-slide .slider-content h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .main-slider .swiper-slide .slider-content h1 {
    font-size: 22px;
    line-height: 30px;
  }
}
.main-slider .swiper-slide .slider-content .m_actions {
  display: flex;
  margin-top: 20px;
}
.main-slider .swiper-slide .slider-content .m_actions li:not(:last-of-type) {
  margin-left: 20px;
}
.main-slider .swiper-slide .slider-content .m_actions li .shared {
  min-height: 41px;
}
.main-slider .swiper-slide .slider-content .m_actions li .shared::after {
  top: 7px;
}
.main-slider .swiper-buttons {
  position: static;
  transform: none;
}
.main-slider .swiper-button-prev, .main-slider .swiper-button-next {
  position: absolute;
}

.business_area .business_types .business_type {
  display: flex;
  align-items: center;
  width: 70%;
  margin-bottom: 12px;
}
@media screen and (max-width: 1200px) {
  .business_area .business_types .business_type {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .business_area .business_types .business_type {
    flex-direction: column;
  }
}
.business_area .business_types .business_type.odd {
  flex-direction: row-reverse;
  margin-right: auto;
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .business_area .business_types .business_type.odd {
    flex-direction: column;
  }
}
.business_area .business_types .business_type.odd .img {
  margin-right: 44px;
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .business_area .business_types .business_type.odd .img {
    margin-left: 0;
    margin-right: 0;
  }
}
.business_area .business_types .business_type .img {
  min-width: 210px;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  margin-left: 44px;
}
@media screen and (max-width: 768px) {
  .business_area .business_types .business_type .img {
    margin-left: 0;
    margin-bottom: 15px;
  }
}
.business_area .business_types .business_type .img img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .business_area .business_types .business_type .text {
    text-align: center;
  }
}
.business_area .business_types .business_type .text .title {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #6E7C87;
  margin-bottom: 12px;
}
.business_area .business_types .business_type .text .num {
  margin-top: 8px;
  font-family: IBM Plex Sans Arabic;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #E3C56D;
}

.boards .board_BG {
  background: url("../../images/board_BG.png") no-repeat;
  background-size: cover;
  min-height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
}
.boards .board_BG::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #000000 -6.21%, rgba(12, 12, 12, 0.539772) 48.63%, rgba(194, 194, 194, 0) 144.31%);
  border-radius: 20px;
}
.boards .board_BG .title {
  position: relative;
  z-index: 2;
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFF;
  padding: 30px;
  margin: 0 20px;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .boards .board_BG .title {
    font-size: 30px;
  }
}
.boards .board_BG .title span {
  position: absolute;
  background: #FFF;
  transition: 0.5s;
  box-shadow: 1px 1px 20px #FFF;
}
.boards .board_BG .title span:nth-child(1) {
  top: 0;
  left: 0;
  width: 3px;
  height: 66px;
}
.boards .board_BG .title:hover span:nth-child(1) {
  height: 100%;
}
.boards .board_BG .title span:nth-child(2) {
  top: 0;
  left: 0;
  width: 66px;
  height: 3px;
}
.boards .board_BG .title:hover span:nth-child(2) {
  width: 100%;
}
.boards .board_BG .title span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 3px;
  height: 66px;
}
.boards .board_BG .title:hover span:nth-child(3) {
  height: 100%;
}
.boards .board_BG .title span:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 66px;
  height: 3px;
}
.boards .board_BG .title:hover span:nth-child(4) {
  width: 100%;
}

.medi_center .donaite-card .text {
  padding-top: 8px;
}
.medi_center .donaite-card .text .details {
  margin-bottom: 10px;
}
.medi_center .donaite-card .text .details .num {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}

.pattern .love {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pattern .love img {
  margin: auto;
  width: calc(100% - 400px);
}
.pattern .love span {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  color: #E3C56D;
  min-width: 200px;
}
.pattern .love span:last-of-type {
  text-align: left;
}
@media screen and (max-width: 991px) {
  .pattern .love span {
    font-size: 30px;
    min-width: 120px;
  }
}

.clinets .swiper-container.first {
  margin-bottom: 50px;
}
.clinets .swiper-slide {
  text-align: center;
}

.video-js,
.video-react {
  width: 100%;
  height: 600px !important;
  border-radius: 6px;
  padding: 0 !important;
}
@media screen and (max-width: 991px) {
  .video-js,
  .video-react {
    height: 400px !important;
  }
}

.vjs-poster,
.video-react .video-react-poster {
  background-size: cover;
  border-radius: 6px;
}

.video-react .video-react-big-play-button {
  top: 50% !important;
  left: 50% !important;
  transform: translateX(-50%) translateY(-50%) !important;
}

.quick_donate_link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 16px;
  position: fixed;
  min-width: 51px;
  min-height: 178px;
  left: 0px;
  top: 50%;
  writing-mode: vertical-lr;
  background: #E3F5F5;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: IBM Plex Sans Arabic;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.06em;
  color: #263A4B;
  transition: all 0.3s ease-in-out;
  transform: translateY(-50%);
  z-index: 33;
}
.quick_donate_link span {
  transform: rotate(180deg);
}
.quick_donate_link:hover {
  background-color: #E3C56D;
  color: #FFF;
}
@media screen and (max-width: 576px) {
  .quick_donate_link {
    font-size: 15px;
    min-width: 44px;
    min-height: 150px;
    padding: 24px 11px;
  }
}

.donate_modal .modal-content {
  background-color: #192938;
}
.donate_modal .modal-header {
  padding: 0;
  border: 0;
  background-color: transparent;
}
.donate_modal .modal-header .btn-close {
  position: absolute;
  background-image: none;
  color: #FFF;
  font-size: 25px;
  left: 11px;
  top: 11px;
  z-index: 3;
}
.donate_modal .modal-body {
  padding: 56px;
}
@media screen and (max-width: 991px) {
  .donate_modal .modal-body {
    padding: 25px;
  }
}
@media screen and (max-width: 991px) {
  .donate_modal .modal-body .text {
    margin-bottom: 25px;
  }
}
.donate_modal .modal-body .text .title {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #E3C56D;
}
.donate_modal .modal-body .text .by {
  font-family: IBM Plex Sans Arabic;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
  margin: 16px 0;
}
.donate_modal .modal-body .text .nav-pills .nav-item:not(:last-of-type) {
  margin-left: 20px;
}
@media screen and (max-width: 991px) {
  .donate_modal .modal-body .text .nav-pills .nav-item {
    margin-bottom: 5px;
  }
}
.donate_modal .modal-body .text .nav-pills .nav-link {
  background-color: transparent;
  border: 0;
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  padding: 0;
}
.donate_modal .modal-body .text .form-check {
  display: flex;
  align-items: center;
  padding: 0;
}
.donate_modal .modal-body .text .form-check .form-check-input {
  box-shadow: none;
  position: relative;
  background-color: transparent;
  min-width: 25px;
  width: 25px;
  height: 25px;
  border-width: 3px;
  border-color: #FFF;
  margin: 0;
  margin-left: 8px;
  cursor: pointer;
}
.donate_modal .modal-body .text .form-check .form-check-input[type=radio] {
  background-image: none;
}
.donate_modal .modal-body .text .form-check .form-check-input[type=radio]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: transparent;
}
.donate_modal .modal-body .text .form-check .form-check-input[type=radio]:checked {
  background-color: transparent;
  border-color: #E3C56D;
}
.donate_modal .modal-body .text .form-check .form-check-input[type=radio]:checked::after {
  background-color: #E3C56D;
}
.donate_modal .modal-body .text .form-check .form-check-input[type=checkbox] {
  border-radius: 3px;
}
.donate_modal .modal-body .text .form-check .form-check-label {
  cursor: pointer;
}
.donate_modal .modal-body .text .form-check.save_card .form-check-label {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #E3F5F5;
  padding-right: 8px;
}
.donate_modal .modal-body .text .proForm .form-group .form-label {
  font-family: IBM Plex Sans Arabic;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  margin-bottom: 12px;
}
.donate_modal .modal-body .text .proForm .form-group .form-control {
  padding: 8px 12px;
  height: 41px;
  background: rgba(110, 124, 135, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.8);
}
.donate_modal .modal-body .text .proForm .form-group .form-control::placeholder {
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.8);
}
.donate_modal .modal-body .text .proForm .shared {
  min-height: 43px;
  width: 100%;
}
.donate_modal .modal-body .text .proForm .notes {
  margin-top: 22px;
  font-family: IBM Plex Sans Arabic;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #E3F5F5;
}

.single .desc {
  color: #FFF;
  font-size: 20px;
}
.single .desc * {
  color: #FFF !important;
  font-size: 20px;
}

.contact_us .proForm {
  width: 90%;
}
@media screen and (max-width: 991px) {
  .contact_us .proForm {
    width: 100%;
  }
}
.contact_us .proForm .shared {
  min-width: 200px;
}
.contact_us .contact_Info {
  background-color: #E3C56D;
  padding: 40px 24px;
  border-radius: 8px;
  margin-top: 30px;
}
.contact_us .contact_Info .title {
  font-family: IBM Plex Sans Arabic;
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 24px;
}
.contact_us .contact_Info .social ul {
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact_us .contact_Info .social li {
  margin: 0;
}
.contact_us .contact_Info .social li:not(:last-of-type) {
  margin-left: 24px;
}
@media screen and (max-width: 991px) {
  .contact_us .contact_Info .social li:not(:last-of-type) {
    margin-left: 15px;
  }
}
.contact_us .contact_Info .social li a {
  width: auto;
  height: 37px;
  background-color: transparent;
  border: 0;
  font-size: 35px;
  color: #263A4B;
}
.contact_us .contact_Info .social li a:hover {
  color: #FFF;
}
.contact_us .contact_Info .details {
  margin-top: 56px;
}
@media screen and (max-width: 991px) {
  .contact_us .contact_Info .details {
    margin-top: 20px;
  }
}
.contact_us .contact_Info .details .info {
  margin-bottom: 14px;
}
.contact_us .contact_Info .details .info span {
  font-family: IBM Plex Sans Arabic;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: black;
}
.contact_us .contact_Info .details .info .link {
  font-family: IBM Plex Sans Arabic;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #263A4B;
}

/*only ar*/
.breadCrumb__content .breadcrumb-item::after,
.pagination a i {
  transform: scaleX(-1);
}

.services::after,
.common::after,
.articles_page .aside-sec .types ul li .type .arrow {
  transform: scaleX(-1);
}

.proForm .form-group.range .irs--flat .irs-from,
.proForm .form-group.range .irs--flat .irs-to,
.proForm .form-group.range .irs--flat .irs-single {
  direction: ltr;
}

.shared .iconsm {
  transform: rotate(180deg);
}

.sec_title .title,
.company_features .company_feature .title,
.process .process_box .title {
  letter-spacing: normal;
}

/**/
footer .newsLetter .proForm .form-group .icon {
  transform: scale(-1);
  top: 0;
}

.shared::after {
  transform: rotate(135deg);
}